.review__header {
    display: flex;
}

.review__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-right: 18px;
    border-radius: 50px;
    background-color: var(--color-blue);
}

.review__avatar p {
    color: var(--color-white);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 114.286% */
    text-transform: uppercase;
}

.review__avatar img {
    width: 50px;
    height: 50px;
}

.review__name {
  width: 100%;
    margin-bottom: 11px;
    color: var(--text-review);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
}

.review__comment {
    color: rgba(17, 17, 17, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    
}
@media (min-width:768px) {
  .review__comment {
    margin-left: 70px;    
  }
}
  /* ---------------- */
  
 .review__header .rating {
  pointer-events: none;
 }

  .rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }