.choosed-day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .choosed-day-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .tasks-columns-list {
    display: flex;
    gap: 20px;
  }
  