.day-calendar-head {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .day-header {
    flex: 1;
    text-align: center;
  }
  
  .day-header strong {
    font-weight: bold;
    color: #333;
  }
  
  .day-header span {
    color: #777;
  }
  