.tasks-column {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 0 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tasks-column h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.tasks-column button {
  margin-top: 10px;
}

.tasks-column .column-tasks-list {
  flex: 1;
  margin-top: 10px;
  overflow-y: auto;
}

.tasks-column .column-tasks-list p {
  text-align: center;
  color: #888;
}

.task-column-card {
  background-color: var(--color-white);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-column-card .task-info {
  flex: 1;
  display: flex;
  align-items: center;
}

.task-column-card .task-description {
  margin: 0;
  flex: 1;
  padding-right: 10px;
}

.task-column-card .user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.task-column-card .priority-badge {
  padding: 4px 8px;
  border-radius: 5px;
  color: var(--color-white);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
}

.task-column-card .priority-badge.low {
  background-color: var(--color-task-low);
}

.task-column-card .priority-badge.medium {
  background-color: var(--color-task-medium);
}

.task-column-card .priority-badge.high {
  background-color: var(--color-task-high);
}

.task-column-card .task-toolbar {
  display: flex;
  align-items: center;
}

.task-column-card .task-toolbar button {
  margin-left: 10px;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.task-column-card .task-toolbar button:hover {
  background-color: #f0f0f0;
}

.task-column-card .task-toolbar button:first-child {
  background-color: #2196f3;
  color: var(--color-white);
}

.task-column-card .task-toolbar button:last-child {
  background-color: #e0e0e0;
}