
.task-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .task-modal {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }
  
  .task-modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .task-modal input,
  .task-modal textarea,
  .task-modal select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .task-modal select {
    appearance: none;
    padding-right: 20px;
    background: url('../../../../images/logo/logo_duck_mob.png') no-repeat right center / 15px 15px;
  }
  
  .task-modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .task-modal-buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .task-modal-buttons button:hover {
    background-color: #f0f0f0;
  }
  
  .task-modal-buttons button:first-child {
    background-color: #4caf50;
    color: #fff;
  }
  
  .task-modal-buttons button:last-child {
    background-color: #e0e0e0;
  }
  
  .task-modal-buttons button:last-child:hover {
    background-color: #ccc;
  }
  