.feedbackBtn {
  padding: 8px 20px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  text-transform: none;
  color: #ffffff;
  background-color: #3e85f3;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  @media (min-width: 768px) {
    padding: 12px 32px;
    font-size: 14px;
    border-radius: 14px;
  }

  &:hover,
  &:focus {
    background-color: #2b78ef;
  }
}
