.TaskCard__container {
  width: 300px;
  height: 112px;
  border-radius: 8px;
  border: 1px solid rgba(220, 227, 229, 0.8);
  background: #f7f6f9;

  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.TaskCard__title {
  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  pointer-events: none;
}

/* Avatar */
.TaskCard__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  /* margin-right: 18px; */
  border-radius: 50px;
  background-color: var(--color-blue);
}

.TaskCard__avatar p {
  color: var(--color-white);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 114.286% */
  text-transform: uppercase;
  /* pointer-events: none; */
}

.TaskCard__block {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.TaskCard__info {
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  /* pointer-events: none; */
}

.TaskCard__avatar img {
  width: 32px;
  height: 32px;
}

/* Task Status */

.TaskCard__status-low,
.TaskCard__status-medium,
.TaskCard__status-high {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  /* width: 47px;
    height: 20px; */
}

.TaskCard__status-low {
  background: #72c2f8;
}

.TaskCard__status-medium {
  background: #f3b249;
}

.TaskCard__status-high {
  background: #ea3d65;
}

.TaskCard__status-title {
  color: #f7f6f9;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px; /* 120% */
  pointer-events: none;
}
.menuAbsolute {
  position: absolute;
  z-index: 999;
  top: 190px;
  left: 230px;
}
