.container {
  width: 100%;
  padding: 60px 18px 40px;
  margin: 64px 20px 40px;
  border-radius: 16px;
  background: #fff;

  @media (min-width: 768px) {
    max-width: 704px;
    padding: 40px 175px;
    margin: 64px 32px 40px;
  }

  @media (min-width: 1440px) {
    max-width: 1087px;
    padding: 60px 164px;
    margin: 32px;
    /* grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 24px; */
  }
}
