.container {
  box-sizing: border-box;
  width: 335px;
  padding: 0px 18px 40px 18px;
  margin: 0px 20px 40px 20px;
  border-radius: 16px;
  background: var(--toogler-body-white);

  @media (min-width: 768px) {
    width: 704px;
    padding: 40px 175px;
    margin: 0px 32px 40px;
  }

  @media (min-width: 1440px) {
    width: 1087px;
    padding: 60px 164px;
    margin: 0;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.userName {
  color: #343434;
  font-size: 14px;
  margin-top: -18px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 129%;

  @media (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 100%;
    margin-top: 20px;
  }
}
.user {
  color: #343434;
  font-weight: 600;
  font-size: 12px;
  line-height: 117%;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 129%;
  }
}

.fieldWrapper {
  display: grid;
  max-width: 299px;
  margin: 40px 0;
  /* gap: 18px; */

  @media (min-width: 768px) {
    max-width: 354px;
  }

  @media (min-width: 1440px) {
    max-width: 758px;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 24px;
  }
}

.labelField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 18px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 129%;
  color: #111;

  @media (min-width: 768px) {
  margin-bottom: 24px;
  font-size: 14px;
  }
}

.inputField {
  box-sizing: border-box;
  outline: none;
  border-radius: 8px;
  border: 1px solid rgba(17, 17, 17, 0.15);
  color: #111;
  padding: 14px 18px;
  width: 100%;

  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;

  &::placeholder {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 113%;
    color: rgba(17, 17, 17, 0.15);
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.error {
  color: red;
  font-size: 12px;
  font-weight: 500;
}
.submitButton {
  width: 195px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  border-radius: 16px;
  border: none;
  margin: 0 auto;
  border: 2px solid var(--color-blue);
  cursor: pointer;

  color: var(--color-white);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 129%;

  transition: all 0.5s var(--transition);

  @media (min-width: 768px) {
    width: 262px;
  }
}


.submitButton:hover, .submitButton:focus {
    border: 2px solid var(--color-blue-hover);
    background-color: var(--color-blue-hover);
}

/* AVATAR */

.UserForm__avatar {
  position: relative;
  width: 72px;
  height: 72px;
  background-color: var(--toogler-body-white);
  border-radius: 72px;
  border: 2px solid var(--color-blue);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: -45px;

  @media (min-width: 768px) {
    width: 124px;
    height: 124px;
    background-color: var(--color-white-avatar);
    border-radius: 100px;
    border: 2px solid var(--color-blue);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    top: 0;
    
  }
}

.new__avatar {
  z-index: 1;
}

.UserForm__avatar img {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  border-radius: 72px;
  border: 2px solid var(--color-blue);

  @media (min-width: 768px) {
    width: 124px;
    height: 124px;
    
  }
  
}

.UserForm__avatar_icon {
  width: 24px;
  height: 24px;
  fill: #3E85F32E;
  cursor: pointer;

}

@media (min-width: 768px) {
  .UserForm__avatar_icon {
    width: 48px;
    height: 48px;
  }

}


.UserForm__avatar_input{
  position: absolute;
  bottom: -6px;
  right: 24px;
  border-radius: 14px;
  color: transparent;
  width: 14px;
  height: 14px;
  cursor: pointer;
  opacity: 0;

  @media (min-width: 768px) {
    position: absolute;
    bottom: -6px;
    right: 24px;
    border-radius: 100px;
    color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
  }
  
}

.UserForm__avatar::after {
 content: "";
 position: absolute;
 bottom: -6px;
 right: 14px;

 width: 14px;
 height: 14px;
 border-radius: 100px;
 background-color: var(--color-blue);
 z-index: 1;
 cursor: pointer;
 pointer-events: none;

 background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3e%3cpath d='M9 3.75V14.25' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3.75 9H14.25' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
 background-position: center;
 background-repeat: no-repeat;
 fill: #fff;
 background-size: cover;


 

}

@media (min-width: 768px) {
  .UserForm__avatar::after  {
    bottom: -6px;
    right: 24px;
   
    width: 24px;
    height: 24px;
    border-radius: 100px;
  }
}

.UserForm__avatar::after:hover, .UserForm__avatar::after:focus {
  background-color: var(--color-blue-hover);
}

