.feetback_container {
    /* position: relative; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 375px;
    border-radius: 8px;
    padding: 28px 20px;
    margin: 0 20px;
    border: 1px solid rgba(220, 227, 229, 0.80);
    box-shadow: 0px 4px 57px 0px rgba(17, 17, 17, 0.05);
    background: var(--color-white);
}

.button_close {
    position: absolute;
    /* background-color: transparent; */
    border-radius: 50px;
    border: none;
    padding: 0;
    top: 14px;
    right: 14px;
    cursor: pointer;
}

.button_edit {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 96px;
    right: 70px;
    padding: 8px;
    border-radius: 50px;
    border: none;
    background-color: #E3F3FF;
    cursor: pointer;
}

.button_remove {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 96px;
    right: 20px;
    padding: 8px;
    border-radius: 50px;
    border: none;
    background-color: rgba(234, 61, 101, 0.20);
    cursor: pointer;
}

.button_edit:hover,
.button_edit:focus {
    fill: #ffffff;
    background-color: #3E85F3;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_remove:hover,
.button_remove:focus {
    fill: #ffffff;
    background-color: #EA3D65;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 14px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
    color: rgba(52, 52, 52, 0.80);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
}

.stars {
    margin-bottom: 20px;
}

.input {
    padding: 12px 14px;
    border-radius: 8px;
    background: #F6F6F6;  
    border: none;
}

.input::placeholder {
    color: #343434;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
}

.button_container {
    display: flex;    
    gap: 8px;
    justify-content: space-between;
}

.button_save,
.button_cancel  {
display: flex;
height: 42px;
width: 100%;
justify-content: center;
align-items: center;
border: none;
border-radius: 8px;
background-color: #E5EDFA;
cursor: pointer;
}

.button_save:hover,
.button_save:focus,
.button_cancel:hover,
.button_cancel:focus {
    background-color: #3E85F3;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .container {
        width: 404px;
        padding: 32px;
        margin: 0;
    }

    .button_close {
        top: 18px;
        right: 18px;
    }

    .button_edit {
        top: 98px;
        right: 88px;
    }
    
    .button_remove {
        top: 98px;
        right: 34px;
    }
}

@media (min-width:1440px) {

}