.tasksWrapper {
  display: flex;
  flex-direction: column;
  padding-right: 6px;
  gap: 14px;
  max-height: 334px;
  overflow-y: auto;
  overflow-x: hidden;
  /* position: relative; */

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e7e5e5;
    border-radius: 6px;
  }

  @media  (min-width: 768px) {
    gap: 18px;
    max-height: 376px;

    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-track {
      border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 8px;
    }
  }
}
