
.add-task-btn {
    text-align: right;
    margin-top: 20px;
  }
  
  .add-task-btn button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .add-task-btn button .plus {
    margin-right: 5px;
    font-size: 18px;
    line-height: 1;
  }
  