.calendar-grid {
  width: 100%; 
  display: grid;
  background-color: var(--color-white);
  border: 1px solid var(--input-placeholder-color);
  border-radius: 8px;
}

.calendar-table {
 
   border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.calendar-cell {
  width: auto;
  max-width: none;
  position: relative;
  height: 94px;
  text-align: right;
  cursor: pointer;
  border: 1px solid var(--input-placeholder-color);
  box-sizing: border-box;
  color: var(--text-review);

 
}
.calendar-cell:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: transform 0.3s var(--transition);

&:hover .calendar-day{
    color: var(--color-white);
    background-color: var(--color-blue);
    transition: transform 0.3s var(--transition);
}

}
.calendar-day {
  position: absolute;
  top: 8px;
  right: 4px;
  padding: 4px 6px;
  background-color: transparent;
  color: var(--text-review);
  border-radius: 6px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  display: inline-block;

}

@media (max-width: 375px) {
  .calendar-grid {
    width: 100%; 
    max-width: none; 
  }

  .calendar-cell {
    width: 100%;
    max-width: none;
    max-width: calc(335px/7); 
    height: 94px;
  }
  
}


@media (max-width: 768px) {
  
  .calendar-cell {
    max-width: calc(704px/7); 
    height: 144px;
  }
  .calendar-day{
    gap: 14px;
    padding: 4px 8px ;
    border-radius: 8px;
  }
 
}


@media (min-width: 1440px) {
  .calendar-grid {
    width: 1087px; 
  }
  .calendar-cell {
    max-width: calc(1087px/7); 
    height: 144px;
  }
}
