.calendar-page {
  flex-direction: row;
  align-items: center;
padding-top: 64px;
  font-family: Inter;

  background-color: #f7f6f9;
}
@media (min-width: 1440px) {
  .calendar-page {
    padding-top: 32px;
  }
}

.calendar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #343434;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.calendar-route {
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.calendar-navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.calendar-nav-button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.calendar-nav-button:hover {
  background-color: #0056b3;
}

