
.toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 375px;
    margin-bottom: 20px;
  }
  
  .period-paginator {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .period-type-select {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
 
  