.period-type-select {
  display: flex;

  /* background-color: #F7F6F9; */

}

.left {
  border-radius: 8px 0px 0px 8px;
  border-right: 1px solid rgba(62, 133, 243, 0.20);
}

.right {
  border-radius: 0px 8px 8px 0px;
}

button {
  padding: 8px 16px;
  color: #3E85F3;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;

  border: none;
  cursor: pointer;
  background-color: #E3F3FF;
}

.period-type-select button {

  transition: background-color 0.3s ease;
}

button.active {
  background-color: #CAE8FF;

}