.period-type-select {
  display: flex;
}

.left {
  border-radius: 8px 0px 0px 8px;
  border-right: 1px solid #3e85f333;
}

.right {
  border-radius: 0px 8px 8px 0px;
}

button {
  padding: 8px 16px;
  color: var(--color-blue);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;

  border: none;
  cursor: pointer;
  background-color: #e3f3ff;
}

.period-type-select button {
  transition: background-color 0.3s ease;
}

button.active {
  background-color: #cae8ff;
}