.period-paginator {
  color: var(--color-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.period-format {
  flex-grow: 1;
  text-align: left;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 18px;
}

.current-month {
  display: block;
  border-radius: 8px;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  text-transform: uppercase;
}

.period-change-btn {
  display: flex;
  /* padding: 7px 10px; */
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.chevron-btn {
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 30px;
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;

  background-color: var(--color-white);
  border: 1px solid #dce3e580;

  :focus,
  :hover {
    transition: fill 0.3s ease;
    scale: 1.7;
  }

  @media screen and (min-width: 768px) {
    height: 34px;
    padding: 8px 10px;
  }
}

.left {
  border-radius: 8px 0 0 8px;
}

.right {
  border-radius: 0 8px 8px 0;
}