.calendar-grid {
  width: 100%;
  display: grid;
  background-color: var(--color-white);
  border: 1px solid var(--input-placeholder-color);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .calendar-grid {
    width: 335px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .calendar-grid {
    width: 704px;
  }
}

@media (min-width: 1440px) {
  .calendar-grid {
    width: 1075px;
  }
}

@media (m-width: 1440px) {
  .calendar-grid {
    width: 704px;
  }
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendar-cell {
  width: auto;
  max-width: none;
  position: relative;
  height: 94px;
  text-align: right;
  cursor: pointer;
  border: 1px solid var(--input-placeholder-color);
  box-sizing: border-box;
  color: var(--text-review);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 0.3s var(--transition);
  margin: 2px;
}

.calendar-cell:hover {
  transform: scale(1.05);
}

.calendar_grid-day {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 4px 6px;
  background-color: transparent;
  color: var(--text-review);
  border-radius: 6px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  display: inline-block;
}

@media (max-width: 375px) {
  .calendar-grid {
    width: 100%;
    max-width: none;
  }

  .calendar-cell {
    width: 100%;
    max-width: calc(335px / 7);
    height: 94px;
  }
}

@media (max-width: 768px) {
  .calendar-cell {
    max-width: calc(704px / 7);
    height: 144px;
  }

  .calendar_grid-day {
    gap: 14px;
    padding: 4px 8px;
    border-radius: 8px;
  }
}

@media (min-width: 1440px) {
  .calendar-grid {
    width: 1087px;
  }

  .calendar-cell {
    max-width: calc(1087px / 7);
    height: 144px;
  }
}
.task {
  overflow: hidden;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.4;
  display: block;
  text-align: left;
  text-transform: initial;
  padding: 4px 4px 4px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.tasks-container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  width: auto;
  overflow-y: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.task:hover {
  border-color: currentColor;
  transition: border-color 0.3s, background-color 0.3s;
}

.low-priority {
  background-color: #ceeefd;
  color: var(--color-blue);
}

.medium-priority {
  background-color: #fcf0d4;
  color: var(--color-task-medium);
}

.high-priority {
  background-color: #ffd2dd;
  color: var(--color-task-high);
}
