.mainPage {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100wv;
    height: 812px;

   }



.mainPage__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
    width: 100vw;
}

.mainPage__hero-title {
    color: var(--color-white);

    margin-bottom: 32px;

    color: #FFF;
    text-shadow: 0px 9.399999618530273px 57.6875px rgba(0, 0, 0, 0.04), 0px 47px 355px rgba(0, 0, 0, 0.07);
    font-family: Inter;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}



.mainPage__hero-title span {
    font-style: italic;
    padding-right: 0.5rem;
    padding-left: -0.2rem;
    transition: all 0.5s var(--transition);
}

/* Animate */
.mainPage__hero-title span:hover, .mainPage__hero-title span:focus{
    font-style: normal;
    color: var(--color-black);
}



.mainPage__hero-box {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 16px;

}

.mainPage__hero-link {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    text-decoration-line: underline;

    transition: all 0.5s var(--transition);
}

.mainPage__hero-link:hover {
    color: var(--color-black);
}



.mainPage__hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 121px;
    height: 49px;
    border-radius: 16px;
    border-color:transparent;
    background: var(--color-white);
    /* box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48); */

    color: var(--color-blue);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
}

.mainPage__hero-btn span {
    height: 18px;
    width: 18px;
    margin-left: 6px;

}

.mainPage__hero-btn:hover {
    animation: shake3856 0.3s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }

@media (min-width:375px) {
    .container{
        width: 375px;
        height: 812px;
    }

    .mainPage__hero-title {
        font-size: 44px;
        line-height: 48px;

    }
}
   
@media (min-width:768px) {
    .container{
        width: 768px;
        height: 1024px;
    }

    .mainPage__hero-title {
        font-size: 100px;
        line-height: 130px;
        margin-bottom: 40px;
    }

    .mainPage__hero-box {
        display: flex;
        flex-direction: row;
        gap: 24px;

    
    }

    
}




@media (min-width:1440px) {
    .container{
        width: 1440px;
        height: 770px;
    }

    .mainPage__hero-title {
        font-size: 120px;
        line-height: 150px;

    }
}

.mainPage__hero-logo {
    width: 150px;
    height: 149px;
}

.mainPage__hero-link {
    color: var(--color-white);

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

/* ----------------- Section Main----------------- */

.mainPage__section-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    padding: 0;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;

}





/* .mainPage__section-item img {
    width: 604px;
} */

.mainPage__section-item_box {
    width: 275px;
}



.mainPage__section-item_block{
    /* width: 214px; */
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 44px;
    background: var(--blue-2, #DCEBF7);
    margin-bottom: 8px;

}

.mainPage__section-item_block h2 {
    color: var(--blue-1, #3E85F3);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 110% */
    text-transform: uppercase;
    padding: 6px 18px;
}


.mainPage__section-item_box h3{
    color: #171820;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    text-transform: uppercase;

    margin-bottom: 14px;
}

.mainPage__section-item_text {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    margin-bottom: 40px;
}

.mainPage__section-item_img1, .mainPage__section-item_img2, .mainPage__section-item_img3 {
  border-radius: 40px;
  width: 80wv;
  height: 457px;
  background-position: center;
  background-size: cover;

}

.mainPage__section-item_img1 {
    background-image: url(../../images/MainPage_img_1_mob_2x.png);
}

.mainPage__section-item_img2 {
    background-image: url(../../images/MainPage_img_2_mob_2x.png);
}
.mainPage__section-item_img3 {
    background-image: url(../../images/MainPage_img_3_mob_2x.png);
}

.mainPage__section-item_number {
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 100%; /* 80px */
    letter-spacing: -4px;
    text-align: left;
    color: var(--color-blue);
    margin-bottom: 14px;
}

@media (min-width:375px) {

    .mainPage__section-item_img1 {
        width: 335px;
        height: 457px;
        background-image: url(../../images/MainPage_img_1_mob_2x.png);
        background-position: center;
        background-size: cover;
      }

      .mainPage__section-item_img2 {
        width: 335px;
        height: 457px;
        background-image: url(../../images/MainPage_img_2_mob_2x.png);
        background-position: center;
        background-size: cover;
      }

      .mainPage__section-item_img3 {
        width: 335px;
        height: 457px;
        background-image: url(../../images/MainPage_img_3_mob_2x.png);
        background-position: center;
        background-size: cover;
      }
    
}


@media (min-width:768px) {
    .mainPage__section-item_number {
        font-size: 104px;
    }

    .mainPage__section-item_block{
        /* width: 264px;   */
    }

    .mainPage__section-item_block h2 {
        font-size: 40px;
    }

    .mainPage__section-item_box h3{
        font-size: 40px;
    }

    .mainPage__section-item_text {
        width: 275px;
        margin-bottom: 0;
    }

    .mainPage__section-item {
        display: flex;
        align-items: flex-start;
        /* justify-content: flex-end; */
        /* align-items: center; */
        flex-direction: column;
        align-content: flex-start;

        /* width: 1107px; */
        gap: 48px;
    
    }

    .mainPage__section-item_img1 {
        width: 704px;
        height: 700px;
        background-image: url(../../images/MainPage_img_1_tablet_2x.png);
        background-position: center;
        background-size: cover;

      }

      .mainPage__section-item_img2 {
        width: 704px;
        height: 700px;
        background-image: url(../../images/MainPage_img_2_tablet_2x.png);
        background-position: center;
        background-size: cover;

      }

      .mainPage__section-item_img3 {
        width: 704px;
        height: 700px;
        background-image: url(../../images/MainPage_img_3_tablet_2x.png);
        background-position: center;
        background-size: cover;

      }
    
}

@media (min-width:1440px) {

    .mainPage__section-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        /* width: 1107px; */
        gap: 228px;
    
    }
    
    .mainPage__section-item:nth-child(2) {
        flex-direction: row-reverse;
    }

    .mainPage__section-item_img1 {
        width: 604px;
        height: 700px;
        background-image: url(../../images/MainPage_img_1_desktop_2x.png);
        background-position: center;
        background-size: cover;

      }
      .mainPage__section-item_img2 {
        width: 604px;
        height: 700px;
        background-image: url(../../images/MainPage_img_2_desktop_2x.png);
        background-position: center;
        background-size: cover;

      }
      .mainPage__section-item_img3 {
        width: 604px;
        height: 700px;
        background-image: url(../../images/MainPage_img_3_desktop_2x.png);
        background-position: center;
        background-size: cover;

      }

}


