.button {
    color: var(--color-blue);
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.16;
    text-decoration: underline;
    border: none;
    background-color: inherit;
    cursor: pointer;
}


@media (min-width: 768px) {
    .button {
        font-size: 18px;
    }
}