.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  min-width: 335px;

  @media (min-width: 768px) {
    margin-top: 25px;
  }

  @media (min-width: 768px) {
    min-width: 704px;
  }

  @media (min-width: 1440px) {
    min-width: 1087px;
    margin-top: 40px;
    /* margin-bottom: 32px; */
  }
}

.infoWrapper {
  display: flex;
  align-items: center;

  @media (max-width: 374px) {
    margin-right: 20px;
  }
}

.goose_wrapper {
  @media (max-width: 1439px) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  @media (min-width: 1440px) {
    display: flex;
    gap: 8px;
    pointer-events: none;
  }
}

.goose_text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.goose_text {
  color: var(--color-black);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
}

.goose_text_let_go {
  color: var(--color-blue);
}

.title {
  color: var(--color-black);
  text-shadow: 0px 9.399999618530273px 57.6875px rgba(0, 0, 0, 0.04), 0px 47px 355px rgba(0, 0, 0, 0.07);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;

  @media (min-width: 1440px) {
    display: block;
    font-weight: 700;
    font-size: 32px;
  }
}

.menuBurger {
  fill: transparent;
  stroke: var(--text-review);
  height: 24px;
  width: 24px;

  @media (min-width: 768px) {
    height: 34px;
    width: 34px;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}

.btn {
  color: transparent;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  height: 24px;
  width: 24px;

  @media (max-width: 374px) {
        margin-left: 20px;
  }

  @media (min-width: 768px) {
    height: 34px;
    width: 34px;
  }
  @media (min-width: 1440px) {
    display: none;
  }
}

/* Modal SideBar */
.is_hidden {
  display: none;
}

.side_barmodal {
}
