.wrapper {
  /*max-width: 335px;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 64px;
  @media (min-width: 375px) {
    padding: 0 20px;
    min-width: 335px;
    gap: 80px;
  }
  @media (min-width: 768px) {
    min-width: 704px;
    padding: 0 32px;
    gap: 356px;
  }
  
  @media (min-width: 1440px) {
    min-width: 1087px;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 590px;
  }
}

.infoWrapper {
  display: flex;
  align-items: center;
}

.title {
  display: none;
  color: #111111;
  @media (min-width: 1440px) {
    display: block;

    font-weight: 700;
    font-size: 32px;
  }
}

.menuBurger {
  fill: transparent;
  stroke: #343434;

  height: 24px;
  width: 24px;

  @media (min-width: 768px) {
    height: 34px;
    width: 34px;
  }
  @media (min-width: 1440px) {
    display: none;
  }
}

.btn {
  color: transparent;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;

  height: 24px;
  width: 24px;

  @media (min-width: 768px) {
    height: 34px;
    width: 34px;
  }
  @media (min-width: 1440px) {
    display: none;
  }
}

/* Modal SideBar */
.is_hidden {
  display: none;
}

.side_barmodal {
  
}