.taskForm_container {
  position: relative;
  width: 303px;
  height: 336px;

  @media (min-width: 768px) {
    width: 396px;
    height: 360px;
  }
}

.button_close_form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 14px;
  top: 14px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.button_close_form_icon {
  width: 24px;
  height: 24px;
  stroke: #111;
  fill: transparent;
  transition: all 0.5sec var(--transition);
}

.button_close_form_icon:hover,
.button_close_form_icon:focus {
  scale: 1.1;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 18px 40px;
  border-radius: 8px;
  border: 1px solid rgba(220, 227, 229, 0.8);
  background: var(--color-white);
  box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.1);

  @media (min-width: 768px) {
    padding: 40px 28px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  color: rgba(52, 52, 52, 0.8);
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
}

.input {
  width: 100%;
  height: 42px;
  padding: 12px 14px;
  border-radius: 8px;
  background: #f6f6f6;
  border: none;
  color: var(--text-review);
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
}

.radio {
  position: relative;
}

.label_radio {
  display: flex;
  gap: 3px;
  align-items: center;
  color: #343434;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.16;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.label_radio input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.label_radio span {
  display: flex;
  align-items: center;
  position: relative;
}
.input_radio_low::before,
.input_radio_medium::before,
.input_radio_high::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid #72C2F8;
  background-color: #72C2F8;
  display: inline-block;
  margin-right: 6px;
  border-radius: 100%;

  @media (min-width: 768px) {
    width: 14px;
    height: 14px;
  }
}

.input_radio_medium::before {
  border: 1px solid #F3B249;
  background-color: #F3B249;
}

.input_radio_high::before {
  border: 1px solid #EA3D65;
  background-color: #EA3D65;
}

.input_radio_low::after,
.input_radio_medium::after,
.input_radio_high::after  {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateX(11%);
  width: 10px;
  height: 10px;
  background-color: #72C2F8;
  border: 1px solid #ffffff;
  border-radius: 100%;
  opacity: 0;
}

.input_radio_medium::after {
  background-color: #F3B249;
}

.input_radio_high::after {
  background-color: #EA3D65;
}

.label_radio input[type='radio']:checked + span::after {
  opacity: 1;
}

.title_container {
  margin-bottom: 18px;
}

.time_container {
  display: flex;
  gap: 15px;
  margin-bottom: 18px;
}

.radiobuttons_container {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.button_container {
  display: flex;
  gap: 14px;
}

.button_add,
.button_edit {
  width: 135px;
  height: 42px;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: var(--color-blue);
  box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48);

  color: var(--color-white);
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.28;

  @media (min-width: 768px) {
    width: 182px;
    height: 48px;
  }
}

.button_cansel {
  width: 118px;
  height: 42px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: #efefef;

  color: var(--color-black);
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.28;

  @media (min-width: 768px) {
    width: 144px;
    height: 48px;
  }
}
