.taskForm_container {
  position: relative;
  width: 303px;
  height: 336px;

  @media (min-width: 768px) {
    width: 396px;
    height: 360px;
  }
}

.button_close_form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 14px;
  top: 14px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button_close_form_icon {
  width: 24px;
  height: 24px;
  stroke: var(--text-input);
  fill: var(--text-input);
  transition: all 0.5sec var(--transition);
}

.button_close_form_icon:hover,
.button_close_form_icon:focus {
  scale: 1.1;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 18px 40px;
  border-radius: 8px;
  border: 1px solid var(--border--calendar);
  background: var(--bacround-fon);
  box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.1);

  @media (min-width: 768px) {
    padding: 40px 28px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  color: var(--text-color-2);
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
}

.input {
  width: 100%;
  height: 42px;
  padding: 12px 14px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid var(--border--calendar);
  color: var(--text-color);
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
}

/* RADIO BUTTONS  */
.radio {
  position: relative;
  cursor: pointer;
  display: flex;
}

.radio label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.radio span {
  color: #343434;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
}

/* .radio input {
  transition: .4s ease-in-out;
  width: 14px;
  height: 14px;

}

.radio input:hover {
  scale: 1.1;
  cursor: pointer;
  box-shadow: none;
}



.radio .input_medium[type='radio'] {
  accent-color: #F3B249;
  outline:none;
}

.radio .input_high[type='radio'] {
  accent-color: #EA3D65;
  outline:none;
}

.radio .input_low[type='radio'] {
  accent-color: #72C2F8;
  outline:none;

} */


.radio input[type="radio"] {
  /* display: none; */
  position: relative;
  opacity: 0;
}

.radio_circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* border: 2px solid #aaa; */
  background-color: #72C2F8;
  position: absolute;
  margin-right: 10px;
  top: 4px;
  left: 0;
  pointer-events: none;
}


.radio:nth-of-type(2) .radio_circle {
  background-color: #F3B249;
}

.radio:nth-of-type(3) .radio_circle {
  background-color: #EA3D65;
}

.radio_circle::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  /* background-color: white; */
  z-index: 2;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s ease-in-out;
}

.radio input[type="radio"]:checked + .radio_circle::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio:nth-of-type(1) input[type="radio"]:checked + .radio_circle::before {
  border: 1px solid #72C2F8;
  /* background-color: #72C2F8; */
}

.radio:nth-of-type(2) input[type="radio"]:checked + .radio_circle::before {

  border: 1px solid #F3B249;
}

.radio:nth-of-type(3) input[type="radio"]:checked + .radio_circle::before {
  border: 1px solid #EA3D65;
}


/* .radio:hover .radio_circle {
  border-color: #555;
}

.radio:hover input[type="radio"]:checked + .radio_circle::before {
  background-color: #555;
} */
/* ------------------------------ */


.title_container {
  margin-bottom: 18px;
}

.time_container {
  display: flex;
  gap: 15px;
  margin-bottom: 18px;
}

.radiobuttons_container {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.button_container {
  display: flex;
  gap: 14px;
}

.button_add,
.button_edit {
  width: 135px;
  height: 42px;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: var(--color-blue);
  /* box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48); */

  color: var(--color-white);
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.28;

  @media (min-width: 768px) {
    width: 182px;
    height: 48px;
  }
}

.button_cansel {
  width: 118px;
  height: 42px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: #efefef;

  color: var(--color-black);
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.28;

  @media (min-width: 768px) {
    width: 144px;
    height: 48px;
  }
}

.iconPlus {
  fill: transparent;
  stroke: var(--color-white);
  width: 18px;
  height: 18px;

  @media (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.iconPencil {
  fill: transparent;
  stroke: var(--color-white);
  width: 16px;
  height: 16px;

  @media (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}