.btn {
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 18px;
}

.icon {
  fill: var(--color-blue);
}
@media (min-width: 375px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 768px) {
  .icon {
    width: 32px;
    height: 32px;
  }
  .btn {
    width: 32px;
    height: 32px;
    margin-right: 14px;
    margin-left: 24px;
  }
}
