.taskBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 299px;
  height: 48px;
  margin-top: 32px;

  font-size: 14px;
  line-height: 129%;
  font-weight: 600;
  color: var(--text-input);
  background-color: var(--addTaskBtn);
  border: 1px dashed #3e85f3;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s var(--transition);

  @media (min-width: 765px) {
    width: 304px;
    height: 52px;
  }
}

.taskBtn:hover, .taskBtn:focus {
  background-color: var(--color-white-hover);
}




.iconPlus {
  fill: transparent;
  stroke: var(--text-input);
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
