.CalendarToolbarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  width: 335px;
  height: 82px;

  margin: 0 auto 24px auto;


  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    height: 34px;
    width: 704px;

    margin-bottom: 32px;
    margin-left: 0;
    padding: 0;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    width: 1087px;
    height: 34px;
  }
}
