.btn {
  position: fixed;
  bottom: 24px;
  margin-left: 20px;
  width: 131px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;

  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.28px;
  color: var(--color-white);

  border-radius: 16px;
  border: none;
  background-color: var(--color-blue);
  transition: all 0.5s var(--transition);
  box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48);

  @media (min-width: 768px) {
    margin-left: 32px;
    /* margin-bottom: 24px; */
    width: 141px;
    height: 56px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    gap: 11px;
  }
}

.btn:hover, .btn:focus {
  border: 2px solid var(--color-blue-hover);
  background-color: var(--color-blue-hover);
}

.icon {
  width: 18px;
  height: 18px;

  @media (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
