.TaskDrop__container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 160px;
    height: 90px;
    justify-content: space-between;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.10);
}

.TaskDrop_item {
    background-color: transparent;
    justify-content: space-between;
    width: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.TaskDrop_item p {
    color: #343434;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
}

.TaskDrop_item svg {
    width: 16px;
    height: 16px;
}

.TaskDrop_item:hover, .TaskDrop_item:focus,
.TaskDrop_icon svg:hover, .TaskDrop_icon svg:focus,
.TaskDrop_item p:hover, .TaskDrop_item p:focus   {
    scale: 1.1;
    fill: rgba(62, 133, 243, 1);
    color: rgba(62, 133, 243, 1);
}

