.MainLayout__navigation {
  border-right: 1px solid rgba(220, 227, 229, 0.5);
  background: var(--color-white);
}
.MainLayout__container {
  display: flex;
  background-color: #f7f6f9;
  width: 100%;
}

.MainLayout__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 1439px) {
  .MainLayout__navigation {
    margin-right: 32px;
    width: 93%;
    display: none;
  }
  
}
@media (min-width: 1440px) {
  .MainLayout__navigation {
    margin-right: 32px;
    width: 93%;
    display: flex;
  }

  .MainLayout__block {
    align-items: flex-start;
  }
}
