.MainLayout__navigation {
    flex-shrink: 0;
    border-right: 1px solid rgba(220, 227, 229, 0.50);
    background: #FFF;
}

.MainLayout__container {
    display: flex;
    background-color: #F7F6F9;
}

.MainLayout__header {
    height: 100px;
    width: 100px;
}

.MainLayout__block {
    min-width: 1087px;
    height: 752px;
    border-radius: 16px;
    background-color: #FFF;
    margin-left: 32px


}