.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center
}

.not-found-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  width: 252px;


  color: var(--color-blue);
  text-shadow: 0px 9.4px 57.6875px #0000000a, 0px 47px 355px #00000012;
  /* width: 90%; */
  margin-bottom: 28px;

}

.error-rocket {
  width: 81px;
  height: 188px;
  transform: rotate(-31deg);
  height: auto;

}

.not-found-message {
  display: block;
  color: var(--color-message);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  margin-bottom: 24px;
  width: 281px;
}

.back-to-home-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 14px 32px;
  border: none;
  cursor: pointer;

  font-size: 14px;

  font-weight: 600;
  border-radius: 16px;
  box-shadow: 4px 2px 16px 0px #88a5bf7a;
  transition: all .3s var(--transition);
}


/* @media (min-width: 376px) and (max-width: 767px) {
  .not-found {
    padding-top: 0;
  }

  .not-found-heading {
    font-size: 100px;
    width: 252px;
    height: 150px;
    margin-top: 264px;
    margin-bottom: 30px;
  }

  .error-rocket {
    height: 188px;
  }

  .not-found-message {
    width: 387px;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 24px;
  }

  .back-to-home-button {
    padding: 14px 32px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.28px;
    border-radius: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .not-found {
    padding-top: 0;
    margin: 0;
  }

  .not-found-heading {
    font-size: 200px;
    width: 503px;
    height: 250px;
    margin-top: 323px;
    margin-bottom: 60px; */

.back-to-home-button:hover, .back-to-home-button:focus {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  opacity: .85;
}

@media (min-width:768px) {
  .not-found-heading {
    font-size: 200px;
    width: 503px;

  }

  .error-rocket {


    width: 178px;

  }

  .not-found-message {
    width: 387px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 32px;
  }

  .back-to-home-button {
    padding: 16px 48px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
    border-radius: 16px;
  }
}


/* @media (min-width: 1440px) {
  .not-found {
    padding-top: 50px;
  }

  .not-found-heading {
    padding: 0;
    margin: 0;
  }

  .not-found-message {
    max-width: 45vw;
  }

  .back-to-home-button {
    padding: 18px 52px;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: -0.42px;
    border-radius: 18px;
  }
}
 */
